body {
  background: linear-gradient(
    90deg,
    #666,
    #fff,
    #aaa,
    #fff,
    #666
);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}
header {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: rgb(48, 48, 48);
    backdrop-filter: blur(8px);
    color: rgb(224, 222, 222);
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    z-index: 1000;
}
.logo{
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}
.logo:hover {
    transform: scale(1.1);
}
.nav-links{
    display: flex;
    gap: 5rem;
}
li a{
    position: relative;
    color: white;
    font-weight: 300;
}
li a::before{
    position: absolute;
    content: ' ';
    width: 0;
    left: 0;
    height: 5px;
    top: 25px;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    background: linear-gradient(white);
}
li a:hover::before{
    width: 100%;
}
.visit-btn{
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    background: linear-gradient(rgb(8, 8, 8));

}
.visit-btn:hover{
    background: linear-gradient(rgb(66, 66, 66));
    transform: scale(1.03);
}
#menu-icon{
    position: relative;
    z-index: 9999;
    cursor: pointer;
    font-size: 2rem;
    display: none;
}
section{
    min-height: 100vh;
    padding: 8rem 12%;
    width: 100%;
    position: relative;

}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;

}
.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}
.about .about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.about img{
    width: 700px;
    border-radius: 50%;

}
.info-box{
    display: flex;
    flex-direction:column;
    text-align: left;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

}
.info-box h3 {
    font-size: 1.8rem;
    font-weight: 500;
    opacity: 0.8;
}
.infox-box h1 {
    font-size: 4rem;
    font-weight: 600;
}
.info-box p {
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 1.5rem;
    text-align: left;
    width: 50%;
    color: black;

}
.btn-group {
    display: flex;
    gap: 1rem;
}
.btn {
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    transition: background-color 0.3s ease;
    border: 2px solid black;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
}
.btn, a {

    text-decoration: none;
    color: inherit;
}
.btn:hover {
    background-color: rgb(43, 42, 42);
    color: white;
    transform: scale(1.03);
}

.socials {
    display: flex;
    gap: 2rem;

}
.socials i {
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.socials i:hover {
    transform: scale(1.1);
}
.section-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}
.social-link {
    color: black;
    text-decoration: none;
    
}
.experience-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.experience img {
    width: 24vh;
    border-radius: 3rem;

}
     .intern {
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);

    gap: 2rem;
}
.grid-card{
    border: 2px solid black;
    border-radius: 3rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    cursor: pointer;
    transition: 0.2s ease-in-out;

}
.grid-card:hover {
    transform: scale(1.02);
    background-color: black;
    color: white;
}
.grid-card i {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.grid-card p {
    font-size: 1.5rem;
    font-weight: 500;
    background: linear-gradient(rgb(12, 12, 12));
    background-clip: text;
    color: transparent;
    line-height: 2.0rem;
    margin-top: 30px;
}
.grid-card img {
    margin-top: 40px;

}
.grid-card h3 {
    font-size: 50px;
    text-align: center;

}
::-webkit-scrollbar{
    width: 20px;

}
::-webkit-scrollbar-track{
    background-color: gray;
}
::-webkit-scrollbar-thumnb{
     background: linear-gradient(to bottom, rgb(0, 128, 79));
}
.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 2rem;
}
.project-card{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    border: 2px solid black;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.project-card:hover{
    background-color: black;
    color: white;
    transform: translateY(-10px)scale(1.02);
}
.project-card img {
    width: 100%;
    max-width: 400px;
    height: 250px;
    border-radius: 1rem;
    object-fit: cover;

}
.video-container {
    width: 100%;
    max-width: 900px;
    aspect-ratio: 16 /9;
    margin: 0 auto;
}
.video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 1rem;
}

.project-card:hover #btn{
    border: 2px solid white;
    color: white;
    gap: 10rem;
}
.project-card:hover #btn:hover {
    border: 2px solid black;
    background-color: white;
    color: black;
}
.project-card #btn {
    border: 2px solid black;
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
}
.project-card h3{
    font-size: 2rem;
    font-weight: 500;
}
.input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;

}
.input-box #input{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 2px solid black;
    font-size: 3rem;
    width: 50%;
    padding: 2rem;

}
.input-field {
    padding: 1rem;
    border: 2px solid black;
    border-radius: 1rem;
    font-size: 1rem;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

#Email{
    resize: vertical;
}

#message{
    height: 180px;
    padding: 1rem;
    resize: none;
}
.input-box input::placeholder{
    font-size: 1rem;
    color: black;
}
.input {
    position: relative;

}
#Submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 1rem 1rem;
    width: 50%;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
   background: linear-gradient(rgb(8, 8, 8));
    border-radius: 2rem;
    color: white;
}
#Submit:hover {
    background: linear-gradient(rgb(66, 66, 66));
    transform: scale(1.03);
}

footer{
    bottom: 0;
    left: 0;
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    
}
footer ul{
    display: flex;
    align-items: center;
    gap: 3rem;
}
footer ul li a{
    color: black;
    font-weight: 600;
}
.copyright{
    font-size: 300;
    margin-top: 3rem;
}
@media(max-width: 1250px) {
    header {
        padding: 1 rem 2re;
        gap: 2rem;
    }
    .about .about-container{
        gap: 3rem;
    }
    .experience-info {
        flex-direction: column;
    }
    .input-box #input{
        padding: 2rem 5rem;
        font-size: 2.5rem;
    }
    .input input::placeholder{
        font-size: 2.5rem;
    }

}
@media(max-width: 768px) {
    header{
        gap: 1rem;
        padding: 1rem 1rem;

    }
    #menu-icon {
        display: block;
        cursor: pointer;
        font-size: 2rem;
    }
    header .logo{
        font-size: 1rem;
    }
    header .visit-btn {
        display: none;
    }
    .about-container{
        flex-direction: column;
    }
    .input-box #input{
        padding: 1rem 2rem;
        font-size: 1.8rem;
    }
    .input-box #input::placeholder {
        font-size: 1.5rem;
    }
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
    .experience-info img{
        width: 70vw;
    }
}
@media(max-width: 800px) {
    header #menu-icon{
        display: flex;
    }
    .nav-links {
        position: absolute;
        top: 100%;
        margin-top: 1rem;
        width: 100%;
        padding: 1rem;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: rgba(0, 0, 0, 0.9);
        border-radius: 3rem;
        display: none;
    }
    .nav-links li{
        margin-top: 1.5rem;
        padding: 1rem;
    }
    .nav-links.active {
        display: flex;
    }
    header{
        padding: 1rem 5rem;
        gap: 5rem;
    }
    header .logo{
        font-size: 1.5rem;
    }
    .about-container img{
        width: 80vh;
    }
    .input-box input{
        padding: 0.5rem 3rem;
        width: 80%;
        font-size: 1.5rem;
    }
    .input-box input::placeholder{
        font-size: 1.5rem;
    }
    footer ul{
        gap: 1rem;
    }
}
.img {
    width: 100%;

}
#btn {
    text-decoration: none;
}
.loader{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    display: none;
}
.loader.show {
    display: block;
}
.loader i{
    color: white;
    animation: rotateme .4s linear infinite;

}
@keyframes rotateme {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.form-message {
    display: none;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
}
.form-message.show {
    display: block;

}
.success-msg{
    color: green;

}
.about-me  {
    font-weight: bold;
    font-weight: 900;
    font-size: 60px;
}
#intern {
    font-weight: 900;
    font-size: 20px;
    font-weight: bold;

}